[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "c/external/cglm"]
	path = c/external/cglm
	url = https://github.com/recp/cglm.git
